[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/rivotti256"]
	path = bundle/rivotti256
	url = https://github.com/ARivottiC/rivotti256.vim.git
    branch = develop
    revision = develop
    ignore = all
[submodule "bundle/vim-HiLinkTrace"]
	path = bundle/vim-HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
    branch = master
    ignore = all
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
    branch = master
    ignore = all
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
    branch = master
    revision = master
    ignore = all
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/powerline/powerline.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
    branch = master
    revision = master
    ignore = all
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
    branch = master
    revision = master
    ignore = all
[submodule "bundle/perlomni"]
	path = bundle/perlomni
	url = https://github.com/c9s/perlomni.vim
    branch = master
    revision = master
    ignore = all
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
    branch = master
    revision = master
    ignore = all
[submodule "bundle/rivotti.vim"]
	path = bundle/rivotti.vim
	url = https://github.com/ARivottiC/rivotti.vim.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url =  https://github.com/ntpeters/vim-better-whitespace.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/vim-lengthmatters"]
	path = bundle/vim-lengthmatters
	url = https://github.com/whatyouhide/vim-lengthmatters.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/Vim-Jinja2-Syntax"]
	path = bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
    branch = master
    revision = master
    ignore = all
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
    branch = master
    revision = master
	url = https://github.com/vim-scripts/AutoComplPop.git
    ignore = all
[submodule "bundle/supertab"]
	path = bundle/supertab
    branch = master
    revision = master
	url = https://github.com/ervandew/supertab.git
    ignore = all
